* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.content {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
    
    
}

.content__title {
    color: rgba(125, 131, 151, 0.993);
    margin: 25px;
    padding: 15px;

}

.grade {
   display: flex;
   justify-content: space-around;
   align-items: center;
   
    
}

.grade__item_1 { 
   
}


